@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.searchbar {
  border: 1rem;
}
.contenedorResultados {
  display: inline-block;
  position: inherit;
  margin-top: inherit;
  padding-left: 20px;
  width: 50vw;
  height: 23vw;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.hr-lines{
  position: relative;
  text-align: start;
}

.hr-lines:before{
  content:" ";
  display: block;
  height: 2px;
  width: 50vw;
  position: absolute;
  top: 50%;
  left: 100px;
  background: rgb(0, 0, 0);
}
.filtros {
  text-align: center;
}

.contenedorResultados .dataItem {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: left;
  justify-content: left;
  color: black;
}

.containerrr {
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#input-label {
  display: none;
}

.input-wrap {
  width: 50%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 0 1rem;
  border-radius: 0.8rem;
  background: #b8b8b8;
  box-sizing: border-box;
}

.input-wrap i {
  font-size: 1.5rem;
  color: white;
}

#product-search {
  font-size: 1.8rem;
  color: white;
  width: 100%;
  height: 100%;
  padding: 0 0 0 1rem;
  background: #b8b8b8;
  border: none;
  outline: none;
}

#product-search::placeholder {
  color: white;
  opacity: 0.7;
}

.fa-times:hover {
  cursor: pointer;
}

.results-wrap {
  width: 50%;
  min-height: 11rem;
  max-height: auto;
  margin-top: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

.list-item {
  display: inline-flex;
  word-wrap: initial;
  list-style-type: none;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: capitalize;
  margin-right: 0.5rem;
}

.list-item a {
  color: grey;
  text-decoration: none;
}

.list-item a:hover {
  color: tomato;
  transition: 200ms ease-in;
}

@media (max-width: 768px) {
  .input-wrap {
    width: 96%;
  }
  
  .results-wrap {
    width: 96%;
  }
}


.searchInputs {
    margin-top: 0px;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
  .search input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-color: #134092;
    border: 0.5;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 16px;
    padding: 15px;
    height: 30px;
    width:900px;
  }
  
  .searchIcon {
    height: 33px;
    width: 50px;
    background-color: #169ac6c7;
    display: grid;
    place-items: center;
  }
  
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 35px;
  }
  
.tipo {
  display: inline-block;
  align-items: left;
  justify-content: left;
  font-size: x-small;
  color: rgb(0, 60, 172);
}

  .dataResult {
    display: inline-block;
    margin-top: -20px;
    width: 50vw;
    height: 23vw;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
  }
  
.hr-lines{
  position: relative;
  text-align: start;
}

.hr-lines:before{
  content:" ";
  display: block;
  height: 2px;
  width: 50vw;
  position: absolute;
  top: 50%;
  left: 100px;
  background: rgb(0, 0, 0);
}
.filtros {
  text-align: center;
}
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    color: black;
  }
  
  .dataItem p {
    margin-left: 10px;
  }
  a {
    text-decoration: none;
  }
  
  a:hover {
    background-color: lightgrey;
  }
  
  #clearBtn {
    cursor: pointer;
  }

  