.tablacoex {
	margin: 20px;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 90%;
	border: 1px solid #000000;
	text-align: center;
}

.izquierda,
td {
	padding: 5px !important;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 60px !important;
}
.mid,
th {
	padding: 5px !important;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 60px !important;
}
#tablacoex td {
	border: 1px solid #000000;
	text-align: center !important;
	padding: 8px;
	vertical-align: middle;
}

#tablacoex td {
	padding-left: 100px;
}
tr:nth-child(even) {
	background-color: #dddddd;
}
